* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #141a3f;
}

#content, #buttons {
  margin-left: 50px;
}

@media screen and (max-width: 675px) {
  #content, #buttons {
    margin-left: 10px;
  }
}

button {
  color: white;
}
element {
   -ms-overflow-style: none;
   scrollbar-width: none;
   overflow-y: scroll;
}

element::-webkit-scrollbar {
    display: none;
}
p{
  color: white;
}